body {
    background-color: #eff2f1;
}
.container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.circle{
    height: 100px;
    width: 300px;
    margin: 30px;
}

.test {
    margin-top:  300px;
}

.lilshift {
    margin-top: 77px;
}

.cir {
    border: 1px dashed slateblue;
}
