@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
body {
    background-color: #eff2f1;
}
.container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.circle{
    height: 200px;
    width: 400px;
    margin-left: -350px;
}


.test {
    margin-top:  300px;
}

.lilshift {
    margin-top: 77px;
}

.cir {

    /* border: 1px dashed slateblue; */
    /* transition: 333ms; */
}

.data {
    /* mix-blend-mode: multiply; */
}

.hero {
    padding: 50px;
}

.herotext {
    font-family: "IBM Plex Mono";
    font-size: 5vw;
}


.biguy {
    display: flex;
    margin-top: 100px;
}

#two, #three {
    position: relative;
    z-index: 100;
}

.b1, .b2, .f1, .e1, .c1 {
    /* display: none; */
    
}

rect, .b2 {
    position: relative;
    z-index: 1000;
    -moz-animation: disappear 6.828s ease infinite;
    animation: disappear 6.828s ease infinite;
}

@keyframes disappear {
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}
@-moz-keyframes disappear {
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}
