.container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.circle{
    background-color: #eeeeee;
    height: 300px;
    width: 300px;
    margin: 30px;
}

/* .test {
    margin-top:  700px;
} */
